/* Main Control Styles */

.text-center {
	text-align: center;
}

.new-slider{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.main-card {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	height: 100%;
	background-color: gray;
}

.absolute-center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 45%; 
   margin-left: -150px;
   margin-top: -150px;
}

.summary-temp {
   font-size: 96px;
   font-size: 10vw;
}

.main-temp {
	font-size: 96px;
	font-size: 25vw;
}



.align-right {
	margin: auto;
	text-align: right;
}
