/* Main Control Styles */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.active-slide {
	border-bottom: 3px inset #fff !important;
}

.new-slider{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.current-weather-info {
	margin: 0px auto; 
	text-align:center; 
	height: 38%; 
	font-weight: 600; 
	font-family: 'Arial Narrow', Arial, sans-serif;
}

.main-card {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	height: 100%;
}

.absolute-center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 45%; 
   margin-left: -150px;
   margin-top: -150px;
}

.summary-temp {
   font-size: 96px;
   font-size: 10vw;
}

.main-temp {
	font-size: 96px;
	font-size: 25vw;
}

.border-right {
	border-right: 2px solid #fff !important;
}

.card-font {
	font-size: 122% !important;
	color: inherit !important;
}

/******************************************
 Weather Theme Styles
 Corresponds to Forecast-io icon mappings
******************************************/

.weather-theme-clear-day {
	    background: linear-gradient(to bottom, #5BC9CE 0%, #229FD4 70%, #12518C 100%);
	color: #fff;
}

.weather-theme-clear-night {
    background: linear-gradient(to bottom, #1B0450 0%, #185963 70%, #1C2E56 100%);
	color: #fff;
}

.weather-theme-rain {
	background: linear-gradient(to bottom, #777373 0%, #633950 70%, #201E23 100%);
	color: #fff;
}

.weather-theme-snow {
	background: linear-gradient(to bottom, #FFFFFF 0%, rgb(199, 199, 222) 70%, #DDE3E6 100%);
	color: #000;
}

.weather-theme-sleet {
	background: linear-gradient(to bottom, #C5C5D4 0%, rgb(186, 203, 232) 70%, #6AA3BF 100%);
	color: #000;
}

.weather-theme-cloudy {
	background: linear-gradient(to bottom, #C1BDBD 0%,#ACAFA2 100%);
	color: #000;
}

.weather-theme-fog {
	background: linear-gradient(to bottom, #6F6969 0%, rgb(234, 224, 224) 70%, #E4D9D9 100%);
    color: #2D2525;
}

.weather-theme-cloudy {
	background: linear-gradient(to bottom, rgba(58, 55, 55, 0.77) 0%,#FDFFF5 100%);
}

.weather-theme-partly-cloudy-day {
    background: linear-gradient(to bottom, #97BDBF 0%, #79C1E0 70%, #768DA2 100%);
	color: #fff;
}

.weather-theme-partly-cloudy-night {
	background: linear-gradient(to bottom, #060606 0%, #40064E 70%, #250F3C 100%);
	color: #fff;
}

.weather-theme-default {
	background: #00000c;
	color: #fff;
}