<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="assets/css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="assets/lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="assets/lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/services/geolocation.js"></script>
    <script src="app/services/weather.js"></script>
    <script src="app/services/localstorage.js"></script>
    <script src="app/directives/time.js"></script>

  </head>
  <body ng-app="app" ng-controller="mainController as main" ng-cloak>

    <!--<button class="button" ng-click="main.selectAll()">Select All</button>
  <p>{{main.rows}}</p>
  -->


  <ion-header-bar  class="bar bar-header bar-dark">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 style="text-align: center" class="title">{{main.location.asciiName}} {{main.location.adminCode1}}</h1>
    <div class="buttons">
      <button ng-click="main.showSearch()" class="button button-clear"><i class="icon ion-search"></i></button>
    </div> 
  </ion-header-bar> 

    <!--<div ng-if="main.processing">
          <ion-content>
             <ion-spinner icon="spiral"></ion-spinner>
          </ion-content>
        </div>
    -->

  <div ng-if="!main.processing">
    <ion-slide-box on-slide-changed="main.slide($index)" ng-class="'weather-theme-' + main.currently.icon">

        <ion-slide>
        <ion-content scroll="false">
          <div class="main-card" style="height: 100%; ">
            <div class="padding" style="margin: 0px auto; text-align:center; height: 62%; ">
              <div class="absolute-center">
                <div class=""><h3 class="summary-temp"><i ng-class="' wi wi-forecast-io-' + main.currently.icon"></i> {{main.currently.summary}}</h3></div>
                <div class=""><h1 class="main-temp">{{main.currently.temperature | number:0}}&deg</h1></div>
              </div>
            </div>
              <hr style="width: 85%;">
            <div class="padding current-weather-info">
                <div class="padding-vertical row">
                  <div class="col"><p>{{main.currently.temperature | number: 0 }} &deg</p><p class="text-center">Feels Like</p></div>
                  <div class="col"><p>{{main.currently.humidity * 100 | number: 0}} %</p><p class="text-center">Humidity</p></div>
                  <div class="col"><p>{{main.currently.visibility}} MPH</p><p class="text-center">Visibility</p></div>
                </div>
                <div class="padding-vertical row">
                  <div class="col"><p>{{main.currently.dewPoint | number: 0}} &deg</p><p class="text-center" >Dew Point</p></div>
                  <div class="col"><p>{{main.currently.precipProbability * 100  | number : 0 }} %</p><p class="text-center">Precipitation</p></div>
                  <div class="col"><p>{{main.currently.windSpeed | number: 0}} MPH</p><p class="text-center">Wind Speed</p></div>                
                
                </div>
            </div>                  
          </div>
        </ion-content>
        </ion-slide>

        <ion-slide>
        <ion-content>
        <ion-list convert-hour>
          <ion-item  class="card card-font" item-height="200" item-width="100%" collection-repeat="hourly in main.hourly" item-render-buffer>
            <div class="row " >
                <div class="col col-50">
                  <p class="padding-vertical card-font"><i ng-class="' wi wi-forecast-io-' + hourly.icon"></i> {{hourly.summary}}</p>
                </div>
                <div class="col col-50">
                  <p class="padding-vertical card-font text-right"><i class="wi wi-humidity"></i>  {{hourly.humidity * 100 | number: 0}} %</p>
                </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <p class="padding-vertical card-font ">{{hourly.time}}</p>
              </div>
              <div class="col col-50">
                <p class="padding-vertical card-font text-right"><i class="wi wi-umbrella"></i>  {{hourly.precipProbability * 100 | number : 0}} %</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <p class="padding-vertical card-font">{{hourly.temperature | number: 0 }} &deg / {{ (hourly.temperature - 32) * 5/9 | number: 0}} &deg</p>
              </div>
              <div class="col col-50">
                <p class="padding-vertical card-font text-right"><i class="wi wi-windy"></i> {{hourly.windSpeed | number: 0 }} MPH</p>
              </div>
            </div>
          </ion-item>
        </ion-list>
        </ion-content>
        </ion-slide>

        <ion-slide>
        <ion-content>
        <ion-list convert-day>
          <ion-item class="card card-font item-text-wrap" item-height="200" item-width="100%" collection-repeat="daily in main.daily" item-render-buffer>
            <div class="row " >
                <div class="col">
                  <p class="padding-vertical card-font"><i ng-class="' wi wi-forecast-io-' + daily.icon"></i> {{daily.summary}}</p>
                </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <p class="padding-vertical card-font ">{{daily.time}}</p>
              </div>
              <div class="col col-50">
                <p class="padding-vertical card-font text-right"><i class="wi wi-umbrella"></i>  {{daily.precipProbability * 100 | number : 0}} %</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-50">
                <p class="padding-vertical card-font">{{daily.temperatureMax | number: 0 }} &deg / {{ (daily.temperatureMax - 32) * 5/9 | number: 0}} &deg</p>
              </div>
              <div class="col col-50">
                <p class="padding-vertical card-font text-right"><i class="wi wi-windy"></i> {{daily.windSpeed | number: 0 }} MPH</p>
              </div>
            </div>
          </ion-item>
        </ion-list>
        </ion-content>
        </ion-slide>
    </ion-slide-box>
  </div>

      <ion-footer-bar has-header="true" has-footer="true" class="bar bar-footer bar-dark">  
        <div class="button-bar">
        <a ng-repeat="button in main.buttons"
           ng-class="{'active-slide': $index === main.current}"
           ng-click="main.slide($index)"
           class="button button-clear button-light">{{ button.name }}</a>
      </ion-footer-bar>

  </body>
</html>
