<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="assets/css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="assets/lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="assets/lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/services/geolocation.js"></script>
    <script src="app/services/weather.js"></script>
    <script src="app/services/db.js"></script>
    <script src="app/directives/search.js"></script>
  </head>
  <body ng-app="app" ng-controller="mainController as main" ng-cloak>

<!--   <ion-pane> -->





  <!--<button class="button" ng-click="main.selectAll()">Select All</button>
<p>{{main.rows}}</p>
-->

<!--     <ion-view> -->
      <div ng-if="main.showSearch" data-show-header></div>
      <div ng-if= "!main.showSearch" data-show-search></div>

<!--       <div ng-if="main.processing">
        <ion-content>
         <ion-spinner icon="spiral"></ion-spinner>
        </ion-content>
      </div>
 -->
      <div ng-if="!main.processing">
<!--         <ion-content> -->
          <ion-slide-box on-slide-changed="main.slide($index)" style="position: absolute !important; top:0; left:0; right:0; bottom:0;">
              <ion-slide>
              <ion-content>
                <div class="card">
                  <p>{{main.showTime}}</p>
                  <p>{{main.currently.temperature}} Degrees F</p>
                  <p>{{main.currently.precipProbability}} % Chance of Rain</p>
                  <p>{{main.currently.windSpeed}} mph</p>
                  <p>{{main.currently.humidity * 100}}% Humidity</p>
                  <p>{{main.alert.title}}</p>
                </div>
              </ion-content>
              </ion-slide>

              <ion-slide>
              <ion-content>
<!--               <ion-scroll style="width:100vw;height:150vh;" direction="y"> -->
                <ion-item class="card" item-height="200" collection-repeat="hourly in main.hourly | limitTo: 10">
                  <p>{{hourly.time}}</p>
                  <p>{{hourly.summary}}</p>
                  <p>{{hourly.temperature}} Degrees F</p>
                  <p>{{hourly.precipProbability}} % Chance of Rain</p>
                  <p>{{hourly.windSpeed}} mph</p>
                  <p>{{hourly.humidity * 100}} Humidity</p>
                </ion-item>
<!--               </ion-scroll> -->
              </ion-content>
              </ion-slide>

              <ion-slide>
              <ion-content>
              <!-- <ion-scroll style="width:100vw;height:150vh;" direction="y"> -->
                <ion-item class="card" item-height="200" collection-repeat="daily in main.daily">
                  <p>{{daily.time}}</p>
                  <p>{{daily.summary}}</p>
                  <p>{{daily.temperature}} Degrees F</p>
                  <p>{{daily.precipProbability}} % Chance of Rain</p>
                  <p>{{daily.windSpeed}} mph</p>
                  <p>{{daily.humidity * 100}} Humidity</p>
                </ion-item>
              </ionic-scroll>
              </ion-content>
              </ion-slide>

          </ion-slide-box>
      <!--   </ion-content> -->
<!--       </div> -->

      <ion-footer-bar class="bar bar-footer bar-positive">
        <div class="button-bar">
        <a ng-repeat="button in main.buttons"
           ng-class="{'active': $index === main.current}"
           ng-click="main.slide($index)"
           class="button button-stable">{{ button.name }}</a>
      </ion-footer-bar>
<!--     </ion-view> -->

<!--   </ion-pane> -->
  </body>
</html>
