<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="assets/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="assets/lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="assets/lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/services/geolocation.js"></script>
    <script src="app/services/weather.js"></script>
  </head>
  <body ng-app="app" ng-controller="mainController as main">

  <ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Clean-Cast</h1>
  </ion-header-bar>

  <ion-content>
    <p> Geolocation Coordinates: {{main.coordinates.lat}}, {{main.coordinates.long}}</p>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div>
            <p>{{main.showTime}}</p>
            <p>{{main.location.name}}, {{main.location.adminCode1}}</p>
            <p>{{main.currently.temperature}} Degrees F</p>
            <p>{{main.currently.precipProbability}} % Chance of Rain</p>
            <p>{{main.currently.windSpeed}} mph</p>
            <p>{{main.currently.humidity * 100}}% Humidity</p>
            <p>{{main.alert.title}}</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div ng-repeat="hourly in main.hourly">
            <div style="border: 1px solid;">
              <p>{{hourly.time}}
              <p>{{hourly.summary}}</p>
              <p>{{hourly.temperature}} Degrees F</p>
              <p>{{hourly.precipProbability}} % Chance of Rain</p>
              <p>{{hourly.windSpeed}} mph</p>
              <p>{{hourly.humidity * 100}} Humidity</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div ng-repeat="daily in main.daily">
            <div style="border: 1px solid;">
              <p>{{daily.time}}
              <p>{{daily.summary}}</p>
              <p>{{daily.temperature}} Degrees F</p>
              <p>{{daily.precipProbability}} % Chance of Rain</p>
              <p>{{daily.windSpeed}} mph</p>
              <p>{{daily.humidity * 100}} Humidity</p>
            </div>
          </div>
        </ion-slide>
    </ion-slide-box>
  </ion-content>
  </ion-pane>
  </body>
</html>
